/* CSS Document */

.fuenteForm
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;	
	color:#000;
}

input
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;	
	color:#000;
	border:1px solid #999;
}

.fuenteFormTitol
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;	
	color:#000;
	font-weight:bold;
}
.fuenteFormCapca
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;	
	color:#FFF;
	font-weight:bold;
	padding-left:100px;
	padding-right:10px;
}
.fuenteFormPeque
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:9px;	
	color:#000;
}

.inputForm
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;	
	color:#000;
	width:150px;
}

.ast
{
	color:#F00;
}

.astV
{
	color:#060;
}

.fuenteCapcaForm
{
	font-family:Verdana, Geneva, sans-serif;	
	font-size:12px;
	font-weight:bold;
	color:#FFF;
	vertical-align:middle;
	padding-left:90px;
}

.TextEmailContingut
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;	
	color:#000;
	width:290px;
}

.LabelForm
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;	
	color:#000;
	padding-left:5px;
	font-weight:bold;
}

#TAEmailcontingut
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;	
	color:#000;
	width:99%;
	height:160px;
}


.inputSenseCaixa
{
	border:none;
	background:none;
	width:25px;
	text-align:center;	
}

.selectSenseCaixa
{
	border: none;
	background:none;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	color:#000;
	font-weight:bold;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
}

.FondoForm
{
	background:url(../img/form/FondoForm.jpg);
	background-repeat:repeat-x;
	background-color:#FFF;
}

.BorrarFechaButton
{
	background:url(../img/BotonBorrarFechas.png);
	width:16px;
	height:16px;
	cursor:pointer;
	border:none;
	vertical-align:top;
}

.TextAreaObs
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;	
	color:#000;
	width:100%;
	height:60px;
}

.helparrow_box {
	position: absolute;
	background: #f4ff94;
	width: 400px;
	
	margin-top: 15px;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display:none;

}

.helparrow_box:after {
	bottom: 100%;
	left: 30%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(181, 181, 181, 0);
	border-bottom-color: #f4ff94;
	border-width: 10px;
	margin-left: -10px;
}